/* @tailwindcss-directives */


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Modern smooth app background */
body {
  @apply bg-gray-50 text-gray-900 antialiased;
}
.input {
  @apply border p-2 w-full rounded-md bg-gray-50 focus:bg-white focus:border-blue-500 outline-none transition;
}
